<!-- left menu starts -->
<div class="span2 main-menu-span">
	<div class="well nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			<li class="nav-header hidden-tablet">主菜单</li>
			<li><a class="ajax-link" href="/main"><i class="icon-home"></i><span class="hidden-tablet"> 主页</span></a></li>
			<li><a class="ajax-link" href="/attributes"><i class="icon-edit"></i><span class="hidden-tablet"> 属性管理</span></a></li>
			<li><a class="ajax-link" href="/attribute_sets"><i class="icon-edit"></i><span class="hidden-tablet"> 属性集管理</span></a></li>
    		<li><a class="ajax-link" href="/products"><i class="icon-eye-open"></i><span class="hidden-tablet"> 商品管理</span></a></li>
			<li><a class="ajax-link" href="/categories"><i class="icon-edit"></i><span class="hidden-tablet"> 品类管理</span></a></li>
			<li><a class="ajax-link" href="/eventrules"><i class="icon-picture"></i><span class="hidden-tablet"> 活动管理</span></a></li>
	<!--		<li><a class="ajax-link" href="/flashsales"><i class="icon-list-alt"></i><span class="hidden-tablet"> 闪购管理</span></a></li>
			<li><a class="ajax-link" href="/customers"><i class="icon-list-alt"></i><span class="hidden-tablet"> 客户管理</span></a></li>
			<li><a class="ajax-link" href="/sales_orders"><i class="icon-list-alt"></i><span class="hidden-tablet"> 订单管理</span></a></li>
			<li><a class="ajax-link" href="/shipping/query"><i class="icon-font"></i><span class="hidden-tablet">快递查询</span></a></li>
			<li class="nav-header hidden-tablet">Sample Section</li>
			<li><a class="ajax-link" href="table.html"><i class="icon-align-justify"></i><span class="hidden-tablet"> Tables</span></a></li>
			<li><a class="ajax-link" href="calendar.html"><i class="icon-calendar"></i><span class="hidden-tablet"> Calendar</span></a></li>
			<li><a class="ajax-link" href="grid.html"><i class="icon-th"></i><span class="hidden-tablet"> Grid</span></a></li>
			<li><a class="ajax-link" href="file-manager.html"><i class="icon-folder-open"></i><span class="hidden-tablet"> File Manager</span></a></li>
			<li><a href="tour.html"><i class="icon-globe"></i><span class="hidden-tablet"> Tour</span></a></li>
			<li><a class="ajax-link" href="icon.html"><i class="icon-star"></i><span class="hidden-tablet"> Icons</span></a></li>
			<li><a href="error.html"><i class="icon-ban-circle"></i><span class="hidden-tablet"> Error Page</span></a></li>
			<li><a href="login.html"><i class="icon-lock"></i><span class="hidden-tablet"> Login Page</span></a></li> -->
		</ul>
	<!--	<label id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox"> 使用Ajax</label> -->
	</div><!--/.well -->
</div><!--/span-->
<!-- left menu ends -->
